<div class="modal_window" aria-label="Modal window">
    <div class="modal_window__header" aria-label="Modal window header" *ngIf="close && header">
        <div>{{header}}</div>
        <div (click)="close()" style="cursor: pointer; font-size: 30px;">&times;</div>
    </div>
    <div style="display: flex; flex-direction: column">
        <div *ngIf="status === 'delete'" class="modal_window__body" aria-label="Modal window body" #window>
            <app-delete-message-content (check)="check()"></app-delete-message-content>
        </div>
        <div class="container row"><button (click)="callback()">Удалить</button><button>Отмена</button></div>
    </div>
</div>