<form class="form" #registerForm="ngForm" (ngSubmit)="submit(registerForm)">
  <span class="error" style="border-radius: 0 0 10px 10px" *ngIf="errors && errors.__all__">{{errors.__all__[0]}}</span>
  <div class="form__title" i18n>{{"Registration"}}</div>
  <div class="form__item__container">
    <input class="form__item" placeholder="Username" name="username" [(ngModel)]="username" required #name="ngModel">
    <span class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors?.required" i18n>
        Username is required.
      </div>
    </span>
  </div>
  <div class="form__item__container">
    <input class="form__item" placeholder="Email" name="email" [(ngModel)]="email" required email #emailField="ngModel">
    <span class="error" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
      <div *ngIf="emailField.errors?.required" i18n>
        Email is required.
      </div>
      <div *ngIf="emailField.errors?.email" i18n>
        Email is email.
      </div>
    </span>
  </div>
  <div class="form__item__container">
    <input class="form__item" placeholder="First name" name="first_name" [(ngModel)]="first_name" required #firstName="ngModel">
    <span class="error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <div *ngIf="firstName.errors?.required" i18n>
        First name is required.
      </div>
    </span>
  </div>
  <div class="form__item__container">
    <input class="form__item" placeholder="Last name" name="last_name" [(ngModel)]="last_name" required #lastName="ngModel">
    <span class="error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors?.required" i18n>
        Last name is required.
      </div>
    </span>
  </div>
  <div class="form__item__container">
    <input class="form__item" placeholder="Password" name="password1" [(ngModel)]="password1" required #password="ngModel" type="password">
    <span class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.required" i18n>
        Password is required.
      </div>
    </span>
  </div>
  <div class="form__item__container">
    <input class="form__item" placeholder="Repeat password" name="password2" [(ngModel)]="password2" required #repeatPassword="ngModel" type="password">
    <span class="error" *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)">
      <div *ngIf="repeatPassword.errors?.required" i18n>
        Repeat password is required.
      </div>
    </span>
  </div>
  <button class="form__button" [disabled]="registerForm.invalid || isLoading" i18n *ngIf="!isLoading">{{"Register"}}</button>
  <button class="form__button" [disabled]="true" i18n *ngIf="isLoading"><app-loader></app-loader></button>
</form>
