.check_mark, .fill_check_mark {
  display: flex;
  flex-direction: row;
  border: rgba(0,0,0,0.2) solid 2px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #0077D7;
}

.fill_check_mark {
  border-color: #0077D7;
  background: #0077D7;
  color: #FFFFFF;
}

.checker_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
