<div class="checker_container">
  <div (click)="setCheckDeleteForAll()"
       [ngClass]="{'check_mark': !checkDeleteForAll, 'fill_check_mark': checkDeleteForAll}">
    <svg style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path [attr.fill]="checkDeleteForAll ? '#fff' : '#0077D7'" [ngStyle]="!checkDeleteForAll ? {'opacity': 0} : {'opacity': 1}"
            d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"/>
    </svg>
  </div>

  <div style="display: flex; flex-direction: row; margin-left: 5px; font-size: 20px; color: #000; align-items: center;">
    Удалить для всех
  </div>
</div>
