<div class="main">
  <nav class="navbar">
    <div class="navbar__item_container">
      <a class="navbar__item" routerLink="/posts">Posts</a>
      <a class="navbar__item" routerLink="/all_chats">Chats</a>
    </div>
    <div class="navbar__item_container">
      <div class="navbar__submenu" *ngIf="user">
        <a class="navbar__item" routerLink="/posts" (mouseenter)="openOrClose(true)" (mouseleave)="openOrClose(false)">{{user.username}}</a>
        <aside class="submenu" [@openClose]="isOpen ? 'open' : 'close'" (mouseenter)="openOrClose(true)" (mouseleave)="openOrClose(false)">
          <a class="submenu__item" routerLink="/posts">{{"Настройки"}}</a>
          <button class="submenu__item" (click)="logout($event)">{{"Выйти"}}</button>
        </aside>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

</div>
