.modal_window {
  position: fixed;
  top: 200px;
  left: calc(50% - 250px);
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.25) 0 4px 8px 0;
  min-height: 100px;
  z-index: 1000;
}

.modal_window__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #056dcd;
  color: #FFFFFF;
  font-size: 20px;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.modal_window__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}
